body{
  text-align: center;
}

h1{
    background-color: yellow;
  width:100%;
  font-family: Brush Script Std;
  color: blue;
  
}

}
h4{
  background-color: yellow;
  width:100%;
  font-family: Bahnschrift SemiBold;
  font-align: auto;
  padding:10px;
  
}

#survey-form{
  background-color:lightgreen;
  width:100%;
   margin:: 0 auto;
}
.row-tab{
  display: block;
  padding-top: 20px;
}
.label-customer{
  display: inline-block;
  width: 40% ;
    text-align: right;
}
.input-customer {
  display: inline-block;
   width: 48%;
    text-align: left;
}

.label-select{
   display: inline-block;
  width: 30% ;
    text-align: right;
}

.select-input {
  display: inline-block;
   width: 18%;
    text-align: left;
}
.label-radio{
  vertical-align: top;
   display: inline-block;
  width: 30% ;
    text-align: right;
  
}
.input-radio{
    display: inline-block;
   width: 20%;
    text-align: left;
 
}
.checkbox-label{
    vertical-align: top;
   display: inline-block;
  width: 25% ;
    text-align: center;
}
.checkbox-input{
    display: inline-block;
   width: 20%;
    text-align: left;
 
}
.submit-label{
    vertical-align: top;
   display: inline-block;
  width: 30% ;
    text-align: right;